.main-heading{
    font-weight: bold;
    font-size: xx-large;
    background-color:lightblue;
}
.nav-design{
    display:flex;
    justify-content:space-around;
    background-color:lightblue;
    padding: 10px;
    color:black;
    text-transform: uppercase;
}
.image-for-proportions{
    width:50%;
    height:auto;
}