.main-heading{
    font-weight: bold;
    font-size: xx-large;
    background-color:lightblue;
    border-color:darkslategray;
    border-width:2px
}
.nav-design{
    border-color:darkslategray;
    border: width 2px;
    display:flex;
    justify-content:space-around;
    background-color:lightblue;
    padding: 10px;
    color:black;
    text-transform: uppercase;
}
h2{
    text-decoration:underline;
    font-size: x-large;
    font-weight: bold;
}